nav {
	width: 100%;
	position: fixed;
	top: 0;
	right: 1rem;
	text-align: end;
	color: var(--pink-100);
	z-index: 1;
}

nav::after,
nav::before {
	content: "";
	display: block;
	position: absolute;
	top: 2rem;
	right: 0;
	height: 0.15rem;
	width: 1.5rem;
	background: var(--light-100);
}

nav::after {
	top: 1.5rem;
}

nav ul {
	background: var(--dark-900);
	width: 100vw;
	padding: 3rem 0 2rem;
	display: none;
}

nav li {
	position: relative;
}

nav a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.5rem 1.25rem;
	opacity: 0.5;
	transition: 0.5s;
}

nav a::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, calc(75% + 0.5rem));
	width: 0.5rem;
	height: 0.5rem;
	background: var(--light-100);
	border-radius: 50%;
	box-shadow: 0px 0px 0.5rem var(--pink-100);
}

nav a:active {
	opacity: 1;
	transform: translate(-2rem);
}

.menu-open {
	display: block;
}

@media screen and (min-width: 992px) {
	nav {
		width: fit-content;
		top: 50%;
		right: 3rem;
		transform: translate(0, -50%);
	}

	nav::after,
	nav::before {
		display: none;
	}

	nav a:active,
	nav a:hover {
		opacity: 1;
		transform: translate(-1rem);
	}

	nav ul {
		background: none;
		width: fit-content;
		padding: 0;
		display: block;
	}

	nav a:active {
		opacity: 1;
		transform: translate(-1rem);
	}
}
