* {
	box-sizing: border-box;
}

html {
	--light-100: #ffffff;
	--gray-100: #b8a8ab;
	--pink-100: #fbd4db;
	--dark-800: #474445;
	--dark-900: #1d1c1c;

	scroll-behavior: smooth;

	font-size: 5vw;
	font-family: "Roboto Mono", "Courier New", Courier, monospace;
	color: var(--light-100);
}

body,
a,
ul,
li,
img,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

body {
	background-image: url("../assets/bg.png");
	background-attachment: fixed;
	overflow-x: hidden;
	padding: 0.5rem 0.875rem;
	position: relative;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

svg {
	width: 1.5rem;
	height: auto;
}

header {
	position: absolute;
	top: 0.5rem;
	left: 0.875rem;
}

aside {
	display: none;
}

main {
	font-family: "Poppins", "Arial", Arial, sans-serif;
	margin: 6rem 0 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 0 4rem;
}

footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
}
h2 {
	font-size: 1.125rem;
	font-weight: 400;
}
p {
	font-size: 0.75rem;
	font-weight: 400;
}

body::-webkit-scrollbar {
	width: 0.325rem;
	background: var(--dark-900);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--dark-800);
	border-radius: 0.325rem;
}

body::-webkit-scrollbar-corner {
	background: var(--dark-900);
}

@media screen and (min-width: 600px) {
	html {
		font-size: 2.66666667vw;
	}

	body {
		padding: 1.5rem 6rem;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 2.0833333333333333333vw;
	}

	section {
		margin: 8rem 0;
	}
}
@media screen and (min-width: 992px) {
	html {
		font-size: 1.61290323vw;
	}

	body {
		padding: 0 15.25rem;
	}

	header {
		position: fixed;
		top: 1.5rem;
		left: 3rem;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	aside {
		display: block;
		position: fixed;
		top: 50%;
		left: 3rem;
		transform: translate(0, -50%);
		display: flex;
		flex-direction: column;
	}
	aside a {
		margin: 0 0 2rem;
		border-radius: 50%;
		line-height: 0%;
		transition: 0.5s;
	}

	aside a:hover {
		box-shadow: 0px 0px 0.75rem var(--pink-100);
	}

	section {
		height: 100vh;
		margin: 0;
	}
}
@media screen and (min-width: 1200px) {
	html {
		font-size: 1.33333333333333333333333vw;
	}

	body {
		padding: 1.5rem 19rem;
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 1.1111111111111111111vw;
	}

	body {
		padding: 1.5rem 28rem;
	}
}
