.summary img,
.summary div {
	border-radius: 50%;
}

.summary div {
	border: 0.125rem solid var(--light-100);
	box-shadow: 0 0 0.5rem var(--pink-100);
	margin: 0 0 2rem;
}

.summary h1 {
	color: var(--pink-100);
}

.summary p {
	margin: 1.25rem 0 0;
	color: var(--gray-100);
}

@media screen and (min-width: 992px) {
	.summary div {
		margin: 0 0 1.5rem;
	}

	.summary h1 {
		margin: 0 0 0.25rem;
	}

	.summary p {
		margin: 1.5rem 0 0;
	}
}
